@model CartListViewModel
<div class="">
    @if (Model.Cart.Items.Count() > 0)
    {
    <small class="navbar-text">
        <b>Twój koszyk</b>
        <sapn>Koszyk zawiera</sapn> @Model.Cart.Items.Sum(x => x.Quantity) produkt(y)
        <sapn>Cena</sapn> @Model.Cart.CalculateTotalValue().ToString("c")
    </small>
    }
    <a class="btn btn-sm btn-secondary navbar-btn" asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@Model.ReturnUrl">
        <i class="fa fa-shopping-cart"></i></a>

</div>