<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.msg</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>*@
    <link asp-href-include="/lib/bootstrap/dist/css/*.css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand" mb-0 h1>Sport Store</span>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="Logout" class="navbar-brand">Wyloguj</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="Index" class="navbar-brand">Zaloguj</a>
        }
    </nav>
    <div>
        <div class="row">
            <div class="col-md-2 mt-5">
                @await Component.InvokeAsync("CategoryList")
            </div>
            <div class="col-md-10 mt-2">
                @RenderBody()
            </div>

        </div>
    </div>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
</body>
</html>
